{{set . "title" "Tracks"}}
{{template "header.html" .}}

<div class="container">
    <div class="page-header">
        <h1>{{.day.Name}} <small>Select a track and a slot</small></h1>
    </div>

    <div class="row-fluid">
        {{range .day.Tracks}}
        <div class="col-md-6">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="heading{{.Id}}">
                        <h4 class="panel-title text-center">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{.Id}}"
                               aria-controls="collapse{{.Id}}">
                                {{.Name}}
                            </a>
                        </h4>
                    </div>
                    <div id="collapse{{.Id}}" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="heading{{.Id}}">
                        <div class="panel-body">
                            {{range .Slots}}
                            <p><strong>{{.Start}} : {{.End}}</strong> - <span class="badge">{{.Vote}}</span></p>
                            <p><a href="/voting/slot/{{.Id}}">{{.Contents.Title}}</a></p>
                            {{end}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{end}}
    </div>
</div>

{{template "footer.html" .}}