{{set . "title" "Tracks"}}
{{template "header.html" .}}

<header class="hero-unit">
    <div class="container">
        <div class="row">
            <div class="hero-text">
                <h1>Vote your slot!</h1>
                <p></p>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <table>
            <th>Title</th>

            {{if .slots}}

            {{range .slots}}
            <tr>
                <td>{{.Contents.Title}}</td>
            </tr>
            {{end}}

            {{end}}
        </table>
        <div class="span6">
            {{template "flash.html" .}}
        </div>
    </div>
</div>

{{template "footer.html" .}}