{{set . "title" "Tracks"}}
{{template "header.html" .}}

<header class="hero-unit">
    <div class="container">
        <div class="row">
            <div class="hero-text">
                <h1>Vote your slot!</h1>

                <p></p>
            </div>
        </div>
    </div>
</header>

<div class="container">
    {{if .days}}
    {{range .days}}
    <div class="row">
        <div class="col-md-6"><a href="/voting/{{.Id}}">{{.Name}}</a></div>
    </div>
    {{end}}
    {{end}}

</div>

{{template "footer.html" .}}