{{set . "title" "Vota !"}}
{{template "header.html" .}}

{{if .slot}}
<div class="container">

    <div class="page-header">
        <h2>{{.slot.Contents.Title}}</h2>
    </div>

    <div class="">
    {{.slot.Contents.Description}}
    </div>

    <h3>Speakers</h3>
    {{range .slot.Contents.Authors}}
    <div class="media">
        <div class="media-left">
            <a href="#">
                <img class="media-object" src="{{.Avatar}}" alt="{{.Name}}">
            </a>
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{.Name}}</h4>
            {{.Description}}
        </div>
    </div>
    {{end}}

    <h3>Vote for this talk</h3>
    <form action="/voting/slot/{{.slot.Id}}/vote" method="POST">
        <div class="form-group">

            {{with $field := field "vote"  .}}
            <input id="votingStars" class="rating" data-size="sm" name="vote" type="number" class="rating" min=0 max=5 step="1" value="{{$field.Flash}}"/>
            {{end}}

        </div>

        <button class="btn btn-lg btn-primary center-block" type="submit">
            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
            Vote !
        </button>

    </form>

</div>
{{end}}

{{template "footer.html" .}}