{{set . "title" "Home"}}
{{template "header.html" .}}

<div class="container">

    <form class="form-signin" action="{{url "Users.Login"}}" method="POST">
        <h2 class="form-signin-heading">Please sign in</h2>
        <label for="inputLogin" class="sr-only">Email address</label>
        {{with $field := field "login" .}}
        <input type="text" id="inputLogin" name="{{$field.Name}}" class="form-control" placeholder="User name" required autofocus value="{{$field.Flash}}">
        {{end}}
        <label for="inputPassword" class="sr-only">Password</label>
        {{with $field := field "password" .}}
        <input type="password" id="inputPassword" name="{{$field.Name}}" class="form-control" placeholder="Password" required value="{{$field.Flash}}">
        {{end}}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <a href="/signup"> Create account </a>
    </form>

</div> <!-- /container -->


{{template "footer.html" .}}
