<!DOCTYPE html>

<html>
<head>
    <title>{{.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap-theme.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/public/css/signin.css">
    <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
    <script src="/public/js/jquery-1.9.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/public/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/voting">CM Voting</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {{if .user}}
            <ul class="nav navbar-nav navbar-right">
                <li><p class="navbar-text">Connected as {{.user.Login}} </p></li>
                <li class=""><a href="/logout">Logout<span class="sr-only">(current)</span></a></li>
            </ul>
            {{end}}
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="span6">
            {{template "flash.html" .}}
        </div>
    </div>
</div>
